#bcCookieBanner {
  position: fixed;
  top: -1000px;
  left: 0;
  background: rgba(0, 0, 0, 0.87);
  width: 100%;
  z-index: 100000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
#bcCookieBanner a {
  color: #ff8000 !important;
}
#bcCookieBanner a:hover,
#bcCookieBanner a:focus {
  text-decoration: underline;
}
#bcCookieBanner.in {
  top: 0;
}
#bcCookieBanner .inner {
  display: flex;
  flex-direction: row;
  padding: 16px 40px;
  margin: 0 auto;
  color: white;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
}
#bcCookieBanner .inner .text {
  margin-right: 24px;
}
#bcCookieBanner .inner .text p {
  margin: 0;
  font-size: 14px;
  line-height: 1.42857143;
}
#bcCookieBanner .inner .actions button.btn.btn-outlined {
  padding: 0 16px;
  line-height: 36px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  font-size: 14px;
}
@media (max-width: 767px) {
  #bcCookieBanner .inner {
    padding: 8px 0 8px 16px;
  }
  #bcCookieBanner .inner .text {
    margin-right: 0;
  }
  #bcCookieBanner .inner .actions button.btn.btn-outlined {
    border: 0;
    line-height: 24px;
    color: #ff8000;
    font-weight: 600;
  }
}

